{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <style>
        .container {margin-top: 60px; text-align:left;}
        p {font-size: 20px; display: block;font-family: 'Ubuntu', sans-serif;}
    </style>
{% endblock %}

{% block body %}
<div class='container'>
<a href='{{ url_for("auth.login") }}' class='btn btn-info btn-sm' style='position:absolute;top:5px;left:10px;'>Back</a>
<p>This service was designed to be privacy-minded. Thankfully, online privacy is becoming increasingly popular on the modern Internet
and this site proudly supports the idea. This site <u>keeps no identifiable information about traders</u> nor it sells it to third-parties.</p>
<p>Below is a video with Gabriel Weinberg where you can learn more about online privacy.</p>
<iframe src="https://player.vimeo.com/video/251069654" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<p>Website created by <a href='https://www.linkedin.com/in/marek-alexa-6408bb170/' target='_blank'>Marek Alexa</a></p>
</div>
{% endblock %}
