<div class='container' style='width: 300px;'>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class='alert alert-{{ category }}'>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
{% endwith %}
</div>
