{% extends 'base.html' %}

{% block body %}

    {% if title == 'Sign In' or title == 'Sign Up' %}
        <body class='text-center'>
    {% endif %}
    <a href='{{ url_for("about") }}' class='btn btn-info btn-sm' style='position:absolute;top:5px;right:10px;'>About</a>
    <div class='container' style='width: 150px;margin-top: 100px;'>
        {% include 'logo.html' %}
        
        <form class="form-signin" method='post' action=''>
            {{ form.hidden_tag() }}
          <fieldset class='form-group'>
              <div class='form-group'>
                  <label for="inputEmail" class="sr-only">Enter your email</label>
                  {% if form.email.errors %}
                    {{ form.email(class='form-control form-control-lg is-invalid') }}
                    <div class='invalid-feedback'>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.email(class='form-control', placeholder='@', id='inputEmail', autofocus='autofocus') }}
                  {% endif %}
              </div>
                  <div class='form-group'>
                      <label for="inputPassword" class="sr-only">Password</label>
                      {% if form.password.errors %}
                        {{ form.password(class='form control form-control-lg is-invalid') }}
                        <div class='invalid-feedback'>
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                      {% else %}
                        {{ form.password(class='form-control', placeholder='Password', id='inputPassword') }}
                      {% endif %}
                        
                  <div class="checkbox mb-3"><br>
                    {{ form.remember(class='form-check-input') }}
                    {{ form.remember.label(class='form-check-label') }}
                  </div>
                </div>
          </fieldset>
          <div class='form-group'>
          {{ form.submit(class='btn btn-primary btn-lg') }}
          </div>
          {% include 'flashes.html' %}
          <small class='text-muted'>Haven't got an account ? <a href='{{ url_for("register") }}'>Sign Up</a></small>
          <p class="mt-5 mb-3 text-muted">Created by Marek Alexa</p>
        </form>
    </div>
{% endblock %}
