{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <style>
        .container {margin-top: 100px; width: 150px;}
    </style>
{% endblock %}

{% block body %}
<div class='row'>
    <div class='col-md-4'></div>
    <div class='col-md-4'>
        <div class='container' style='width:320px;'>
        {% include 'flashes.html' %}
        {% include 'logo.html' %}
        <form method='post' action=''>
            {{ form.hidden_tag() }}
            <fieldset class='form-group'>
                <div class='form-group'>
                  <label for="inputEmail" class="sr-only">Enter your email</label>
                  {% if form.email.errors %}
                    {{ form.email(class='form-control form-control-lg is-invalid') }}
                    <div class='invalid-feedback'>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.email(class='form-control mb-3', placeholder='@', id='inputEmail', autofocus='autofocus') }}
                  {% endif %}
                  
                  {% if form.password.errors %}
                    {{ form.password(class='form-control form-control-lg is-invalid') }}
                    <div class='invalid-feedback'>
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.password(class='form-control mb-3', placeholder='Password') }}
                  {% endif %}
                  
                  {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class='form-control form-control-lg is-invalid') }}
                    <div class='invalid-feedback'>
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.confirm_password(class='form-control mb-3', placeholder='Confirm Password') }}
                  {% endif %}
            </div>
            </fieldset>
            
            <div class='form-group'>
                {{ form.submit(class='btn btn-primary btn-lg') }}
            </div>
        </form>
        
        <p class='on-bottom'>Got An Account ? <a href='{{ url_for("auth.login") }}'>Sign In</a> instead !</p>
    </div>
    </div>
    
    <div class='col-md-4'><a id='about_btn' href='{{ url_for("main.about") }}'>Your Privacy First</a></div>
</div>

{% endblock %}
