{% extends 'base.html' %}

{% block body %}

{% if retailers %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{ current_user.email }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% for retail in retailers %}
        <li class="nav-item active">
          <a class="nav-link" href='{{ url_for("main.interface", retailer=retail.i_trade_with) }}'>{{ retail.i_trade_with }}</a>
        </li>
        {% endfor %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span style='color: red;'>delete retailer</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for retail in retailers %}
         <a class="dropdown-item" href='{{ url_for("main.delete_retailer", retailer=retail.i_trade_with) }}'>{{ retail.i_trade_with }}</a>
        {% endfor %}
        <div class="dropdown-divider"></div>
         <a class="dropdown-item" href='{{ url_for("main.close_account", trader_id=current_user.id) }}'>Close Account</a>
        </div>
        
      </li>
    
    </ul>
    <form method='post' class="form-inline my-2 my-lg-0" action=''>
      <div class='form-group'>
         {{ form3.hidden_tag() }}
         {{ form3.keyword(class="form-control mr-sm-2", placeholder="Search by item, total price") }}
      </div>
         {{ form3.submit(class="btn btn-outline-success my-2 my-sm-0") }}
    </form>
    
    <a class="nav-link" href='{{ url_for("auth.logout") }}'>Logout</a>
  </div>
</nav>
{% else %}
    <p style='margin-top:20px;'>You have no saved invoices. Start adding on the right.</p>
        
{% endif %}

{% if nudge_is_on and retailers %}
    <hr>
    <p>Tap / Click on business to see invoices.</p>
    <hr>
{% endif %}
<div class='row' style='margin-top: 10px;'>
    <div class='col-md-2' style='margin-left: 5px;'>
        
            <div class='form-group'>
            <form method='post' action='' enctype='multipart/form-data' style='margin-bottom: 20px;'>
                {{ form2.hidden_tag() }}
                {{ form2.pdf_invoice(class='form-control mb-3') }}
            </div>
            <div class='form-group'>
                {{ form2.submit(class='btn btn-info') }}
            </div>
            </form>
            <hr>
            <div class='alert alert-info'>Invoices older than 3 years are being automatically erased.</div>
            {% include 'flashes.html' %}
            {% if uploading_existing_invoice %}
            <div class='alert alert-warning'><b>This invoice already exists.</b></div>
            {% endif %}
    </div>
    <div class='col-md-7'>
                  
        {% if no_invoices_from_this_retailer %}
            <div class='alert alert-info'>You haven't got any invoices from this retailer yet.</div>
        {% elif matched_invoices %}
            <p><u>Found invoices:</u></p>
            <table class="table">
              <tbody>
                {% for invoice in matched_invoices %}
                    <tr>
                        <td><a href='{{ url_for("main.display_pdf", invoice=invoice, _external=True) }}'>{{ invoice }}</a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
            
        {% elif invoices %}
            <table class="table">
              <tbody>
                {% for invoice in invoices %}
                    <tr>
                      <th scope="row"></th>
                        <td>{{ invoice.retailer }}</td>
                        <td><a href='{{ url_for("main.display_pdf", invoice=invoice.invoice, _external=True) }}'>{{ invoice.invoice[4:] }}</a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
                    
        {% endif %}
    </div>
    <div class='col-md-2'>
        {% if prompt %}
            <div class='alert alert-warning'>This retailer isn't in your list of retailers. <b>Add it first</b>.</div>
        {% endif %}
        <div class='container' style='width: 10em;'>
            <form method='post' action=''>
                {{ form1.hidden_tag() }}
                <div class='form-group'>
                {% if form1.retailer.errors %}
                    {{ form1.retailer(class='form-control form-control-lg is-invalid') }}
                    <div class='invalid-feedback'>
                        <span>{{ error }}</span>
                    </div>
                
                {% else %}
                    {{ form1.retailer(class='form-control', placeholder='Add Retailer') }}
                {% endif %}
                </div>
                <div class='form-group'>
                    {{ form1.submit(class='btn btn-primary') }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
