body {
    text-align: center;
}

img {
    width: 100px;
    height: auto;
}

#my_invoices_logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    
}

.retailers:active {
    color: red;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
}

.on-bottom {
    bottom: 0;
}

#about_btn {
    position: absolute;
    right: 20px;
    top: 5px;
}
